@using System.Collections.Generic
@using System.Linq
@using PizzaClicker
@using Sandbox
@using Sandbox.Services
@using Sandbox.UI
@namespace TortureTerry
@inherits PanelComponent

<root>
	<img class="menuIcon" texture="@MenuIcon.ResourcePath" alt="" onclick=@( () => MenuOpen = !MenuOpen )/>
	<div class="@(MenuOpen ? "itemContainer" : "hide")">
		@foreach ( var i in Items )
		{
			<div class="entry">
				<image texture="@i.ItemIcon.ResourcePath" alt="" onclick="@( () => SpawnItem( i ) )"/>
				@if ( !GameManager.Player.Unlocks.FirstOrDefault( x => x.Key == i.Name ).Value )
				{
					<div class="price">
						<div>🔒</div>
						<div>@NumberHelper.ToStringAbbreviated( i.Price )</div>
					</div>
				}
			</div>
		}
	</div>
</root>

@code
{
	[Property] public Texture MenuIcon { get; set; }
	[Property] public List<ItemDefinition> Items { get; set; }
	public static List<ItemDefinition> ItemsAccessor { get; set; }
	public static GameObject HeldItem { get; set; }
	private bool MenuOpen { get; set; } = false;
	protected override void OnStart()
	{
		ItemsAccessor = Items;
	}
	
	private void SpawnItem( ItemDefinition i )
	{
		var item = GameManager.Player.Unlocks.FirstOrDefault( x => x.Key == i.Name );
		if ( !item.Value && GameManager.Player.Score >= i.Price )
		{
			GameManager.Player.Unlocks[i.Name] = true;
			GameManager.Player.Score -= i.Price;
		}
		
		if ( HeldItem.IsValid() ) HeldItem.Destroy();

		if ( item.Value )
		{
			var obj = i.Prefab.Clone( i.Held ? InteractionManager.Tr.HitPosition.WithX( 0 ) : Vector3.Zero.WithZ( 196 ) );
			if ( i.Held ) HeldItem = obj;
		}
	}
	
	protected override int BuildHash()
	{
		return GameManager.Player.Score;
	}
}
