@using System
@using System.Collections.Generic
@using System.Linq
@using System.Threading.Tasks
@using PizzaClicker
@using Sandbox
@using Sandbox.Services
@using Sandbox.UI
@namespace TortureTerry
@inherits Sandbox.PanelComponent

<root>
	<div class="TopBar">
		<div class="Score">@ScoreValue</div>
		<i class="ToggleButton" onclick="@( () => LeaderboardOpen = !LeaderboardOpen )">leaderboard</i>
	</div>
	<div class="@( LeaderboardOpen ? "Leaderboard" : "hide" )">
		@foreach ( var i in Scoreboard.Entries )
		{
			<div class="LeaderboardEntry" style="@( i.SteamId == Game.SteamId ? "background-color: grey;" : "" )">
				<div style="width: 100%; flex-grow: 1;">
					<div style="padding-right: 10px;">@( i.Rank ).</div>
					<div>@i.DisplayName</div>
				</div>
				<div style="flex-shrink: 0;">@( MakeReadable( i.Value ) )</div>
			</div>
		}
	</div>
</root>

@code
{
	public Leaderboards.Board2 Scoreboard { get; set; }
	TimeSince TimeSinceRefresh = 0f;
	bool LeaderboardOpen = false;

	private string ScoreValue
	{
		get
		{
			var score = GameManager.Player.Score;
			return MakeReadable( score );
		}
	}

	private string MakeReadable(double value)
	{
		return value < 1_000_000 ? 
			NumberHelper.ToStringWithCommas( value ) : 
			NumberHelper.ToStringWithWords( value, false );
	}

	protected override void OnStart()
	{
		TimeSinceRefresh = 0;
	}

	protected override async Task OnLoad()
	{
		Scoreboard = Leaderboards.GetFromStat( "score" );
		Scoreboard.CenterOnSteamId( Game.SteamId );
		Scoreboard.MaxEntries = 9;
		await Scoreboard.Refresh();
	}

	protected override void OnUpdate()
	{
		if ( TimeSinceRefresh >= 1 )
		{
			Scoreboard.Refresh();
			TimeSinceRefresh = 0;
		}
	}

	protected override int BuildHash()
	{
		return GameManager.Player.Score;
	}
}
